streamlit
PyMuPDF
pytesseract
Pillow
scikit-learn
textblob
matplotlib
seaborn
python-docx
beautifulsoup4
wordcloud
python-docx
bs4
spacy
wordcloud
nltk
pyspellchecker
textstat
transformers
python-pptx
tensorflow
torch 
torchvision 
torchaudio
tf-keras
SentencePiece 
